/* Page base */
body, html {
	font-size: $base_font_size;
	font-family: $base_font_family;
	line-height: $base_font_line_height;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: $base_header_font_size;
	font-weight: bold;
	text-align: center;
	margin: 1rem 0;
}

p {
	margin: 0.8rem 0;
}

label {
	font-weight: bold;
}

a,
a:visited,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: $links_text_hover;
}

input:not([type=submit]),
select {
	border: 1px solid $inputs_border;
	background-color: $inputs_background;
	padding: 0.4rem;
	border-radius: 5px;
	width: 100%;
}

input[type=submit] {
	padding: 0.6rem;
	background-color: $buttons_background;
	color: $buttons_text;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

input[type=submit]:disabled {
	background-color: $buttons_background_disabled;
	cursor: not-allowed;
}

input[type=checkbox] {
	width: auto;
}